<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Efigence camp</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="public/css/app.css">
</head>

<body ng-app="hipsterTrip" ng-controller="mainCtrl as main">
    <header>
        <div class="container-fluid">
            <section class="login-options">
                <ul>
                    <li><span class="icon" data-icon="&#xe614;"></span><a href="#">Dołącz przez FB</a></li>
                    <li><span class="icon" data-icon="&#xe609;"></span><a href="#">Zaloguj się</a></li>
                    <li><a href="#">Zarejestruj się</a></li>
                </ul>
            </section>
            <nav class="clear navbar">
                <div class="container-fluid">
                    <div class="col-md-2 col-sm-3 col-xs-8">
                        <a class="navbar-brand" href="#/home"><span class="icon" data-icon="&#xe605;"></span><span class="bold">Hipster</span> Trip</a>
                    </div>
                    <div class="col-md-8 col-sm-5 col-xs-4 text-center">
                        <ul class="nav navbar-nav minified-menu">
                            <li><a class="open-modal" href="#menu"> MENU </a></li>
                        </ul>
                        <ul class="nav navbar-nav standard-menu">
                            <li><a ng-click="main.scrollTo('about')"> Co to jest? </a></li>
                            <li><a ng-click="main.scrollTo('news')"> Aktualności </a></li>
                            <li><a href="#/places"> Miejscówki </a></li>
                            <li><a ng-click="main.scrollTo('contact')"> Kontakt </a></li>
                        </ul>
                        <div id="menu" class="modal-background">
                            <a href="#" class="icon icon-close" data-icon="&#xe616;"></a>
                            <h1 class="modal-title"> Menu </h1>
                            <ul class="cover-menu">
                                <li><a ng-click="main.scrollTo('about')"> Co to jest? </a></li>
                                <li><a ng-click="main.scrollTo('news')"> Aktualności </a></li>
                                <li><a href="#/places"> Miejscówki </a></li>
                                <li><a ng-click="main.scrollTo('contact')"> Kontakt </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 search-content">
                        <form class="navbar-form navbar-right">
                            <div class="form-group form-wrapper">
                                <input class="form-control search" type="text" placeholder="Szukaj...">
                                <span class="icon" data-icon="&#xe607;"></span>
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    
    <div ng-view></div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-8">
                    <ul>
                        <li><a class="read-more" href="#"> Polityka Prywatności </a></li>
                        <li><a class="read-more" href="#"> Polityka Cookies </a></li>
                        <li class="copyright"> Copyright (c)2015 Efigence S.A. </li>
                    </ul>
                </div>
                <div class=" col-md-1 col-md-offset-5 col-sm-2 col-sm-offset-2 social">
                    <span class="icon" data-icon="&#xe614;"></span>
                    <span class="icon" data-icon="&#xe615;"></span>
                </div>
            </div>
        </div>
    </footer>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/controllers/homeController.js"></script>
    <script src="js/app/controllers/placesController.js"></script>
    <script src="js/script.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
</body>
</html>
