@import "_variables";
@import "_mixins";

a {
	cursor: pointer;
}

/********** LINKS *************/

.read-more {
	color: @accent;
	text-decoration: underline;
	font-family: Arial, sans-serif;
	font-size: 1.17em;
}

/********** BUTTONS *************/

.btn {
	padding: 12px 30px;
	border-radius: 0px;
	background-color: @accent;
	color: @fontBase;
}

