@import "_variables";
@import "_mixins";

.gallery {
	overflow: hidden; 
	.col-md-4 {
		height: 200px;
		
		&:nth-child(1) {
			.imageBg("gallery1.jpg");
			background-size: cover;
		}
		&:nth-child(2) {
			.imageBg("gallery2.jpg");
			background-size: cover;
		}
		&:nth-child(3) {
			.imageBg("gallery3.jpg");
			background-size: cover;
		}
		&:nth-child(4) {
			.imageBg("gallery4.jpg");
			background-size: cover;
		}
		&:nth-child(5) {
			.imageBg("gallery5.jpg");
			background-size: cover;
		}
		&:nth-child(6) {
			.imageBg("gallery6.jpg");
			background-size: cover;
		}
	}
}