@import "_variables";
@import "_mixins";

.container-fluid {
    padding: 0;   
}

.login-options {
    border-bottom: 1px solid @border;
    background-color: @lightestBg;
    overflow: hidden; 
    
    ul li {
        .icon {
            display: inline-block;
            padding-right: 7px;
        }

        float: right;
        display: inline-block;
        padding: 10px 30px;
        list-style: none;
        .clearfix;
        
        a {
            color: @fontBase;
        }
    }
}

.navbar {
    border: 0;
    margin-bottom: 0;
    border-bottom: 1px solid @border;
    border-radius: 0;
    .imageBg("navbg.jpg");

    .navbar-brand  {
        padding-top: 18px;
        color: @fontBase;

        .icon {
            display: inline-block;
            padding-right: 10px;
        }
    }
    
    .nav {
        display: inline-block;
        text-align: center;
        padding-top: 4px;
        width: 100%;

        li {
            display: inline-block;
            float: none;
        }

        li a {
            color: @fontBase;
            margin-bottom: 3px;

            &:hover {
                background: transparent;
                border-bottom: 3px solid @accent;
                margin-bottom: 0px;
            }

            &:focus {
                background: transparent;
            }
        }
    }

    .minified-menu {
        display: none;
    }
}

.video-container {
    height: 800px;
    .imageBg("bg.jpg");
    background-size: cover;

    .vid {
        margin-top: 205px;
        background: linear-gradient(rgba(174,214,249,.5),rgba(255,255,255,0));
        box-shadow: 3px -3px 5px rgba(0,0,0,.35);
    }

    video {
        position: relative;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .video-controls {
        .play-pause {
            position: absolute;
            font-size: 100px;
            color: darken(@accentGrey, 10%);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -90%);
            display: inline-block;
            cursor: pointer;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

/**** PLACES SUBPAGE ****/

.subpage-image {
    height: 400px;
    background-size: cover;
    .imageBg("subbg.jpg");
}

/**** MEDIA QUERIES ***/

@media screen and (max-width: 992px) {
    .navbar {

        .minified-menu {
            display: inline-block;
        }

        .standard-menu {
            display: none;
        }
    }
}

@media screen and (max-width: 768px) {
    .navbar-nav {
        margin: 0;
        margin-top: 8px;
        
        .open-modal {
            padding-bottom: 15px;
        }
    }

    .search-content {
        display: none;
    }
}