@import "_variables";
@import "_mixins";

.slider {
	height: 600px;
	padding-top: 85px;
	.imageBg("sliderbg.jpg");

	.col-md-6 {
		padding: 0;
	}

	.carousel-indicators {
		bottom: -50px;

		li {
			background-color: @fontBase;
			border-color: @fontBase;

			&.active {
				background-color: @accent;
				border-color: @accent;
			}
		}
	}

	.carousel-control {
		background: transparent;
	}
}