@import "_variables";
@import "_mixins";
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,400italic,700,700italic,300italic&subset=latin,latin-ext);
@font-face {
    font-family: 'icomoon';
    src:url('../../fonts/icomoon.eot');
    src:url('../../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/icomoon.woff') format('woff'),
        url('../../fonts/icomoon.ttf') format('truetype'),
        url('../../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 100%;
    color: @fontBase;
}

.bold {
    font-weight: 700;   
}

.icon {
	&:before {
		content: attr(data-icon);
    	font-family: 'icomoon';
	}
}

/*** HEADER ***/

.login-options {
	font-size: 1.25em;
}

.header-title {
	font-size: 5em;
	text-shadow: 2px 1px #000;
	text-transform: uppercase;
	text-align: center;
}

.header-subtitle {
	font-size: 2.5em;
	text-shadow: 2px 1px #000;
	text-align: center;
}

.nav {
	 li {
		font-size: 1.9em;
		font-weight: 300;
	}
}

/*** ABOUT ***/

.title {
    font-size: 3em;
}

.description {
	margin-bottom: 20px;
    font-family: Arial, sans-serif;
    font-size: 1.17em;
    line-height: 18px;
    text-indent: 2em;
}

blockquote {
	font-family: 'Roboto Condensed', sans-serif;
	font-style: italic;
	font-size: 2.83em;
	line-height: 1em;
	position: relative; 
	padding-left: 40px;
	padding-bottom: 40px;
}

/*** ARTICLE ***/

.news-title {
	font-size: 2em;
}

.news-date {
	color: darken(@fontBase, 30%);
	margin-bottom: 25px;
	font-size: 1.17em;
}

form {
	font-family: Arial, sans-serif;
}

address {
	font-size: 1.17em;
}

footer ul li:last-of-type  {
	font-size: 1.17em;
	font-family: Arial, sans-serif;
}